apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: monster-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: monster-frontend
  template:
    metadata:
      labels:
        app: monster-frontend
    spec:
      containers:
        - name: frontend
          image: monster-front:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
